apiVersion: v1
kind: Service
metadata:
  name: translation-svc
  namespace: translator
  labels:
    app: translation-svc
spec:
  type: ClusterIP
  ports:
    - port: 50051
      targetPort: 50051
      protocol: TCP
      name: grpc
  selector:
    app: translation-svc
