apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: translator
spec:
  selector:
    app: keycloak
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30180
  type: NodePort
